{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <link href="{% static 'brokeapp2/css/style.css' %}" rel="stylesheet">
  <title>Pago / </title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons  samuel se la come -->
  <link href="{% static 'brokeapp2/img/logo1.png'%}" rel="icon">
  <link href="{% static 'brokeapp2/img/logo1.png'%}" rel="logo1">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

 <!-- Vendor CSS Files -->
 <link href="{% static 'brokeapp2/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
 <link href="{% static 'brokeapp2//vendor/bootstrap-icons/bootstrap-icons.css'%}" rel="stylesheet">
 <link href="{% static 'brokeapp2/vendor/boxicons/css/boxicons.min.css'%}" rel="stylesheet">
 <link href="{% static 'brokeapp2/vendor/quill/quill.snow.css'%}" rel="stylesheet">
 <link href="{% static 'brokeapp2/vendor/quill/quill.bubble.css'%}" rel="stylesheet">
 <link href="{% static 'brokeapp2/vendor/remixicon/remixicon.css'%}" rel="stylesheet">
 <link href="{% static 'brokeapp2/vendor/simple-datatables/style.css'%}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'brokeapp2/css/style.css' %}" rel="stylesheet">
</head>
<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="#" class="logo d-flex align-items-center">
        <img src="{% static 'brokeapp2/img/logo1.png'%}" alt="">
        <span class="d-none d-lg-block">BROKMAKE</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->

        <li class="nav-item dropdown">

          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-bell"></i>
            <span class="badge bg-primary badge-number">4</span>
          </a><!-- End Notification Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
            <li class="dropdown-header">
              You have 4 new notifications
              <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-exclamation-circle text-warning"></i>
              <div>
                <h4>Lorem Ipsum</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>30 min. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-x-circle text-danger"></i>
              <div>
                <h4>Atque rerum nesciunt</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>1 hr. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-check-circle text-success"></i>
              <div>
                <h4>Sit rerum fuga</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>2 hrs. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-info-circle text-primary"></i>
              <div>
                <h4>Dicta reprehenderit</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>4 hrs. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>
            <li class="dropdown-footer">
              <a href="#">Show all notifications</a>
            </li>

          </ul><!-- End Notification Dropdown Items -->

        </li><!-- End Notification Nav -->

        <li class="nav-item dropdown">

          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-chat-left-text"></i>
            <span class="badge bg-success badge-number">3</span>
          </a><!-- End Messages Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
            <li class="dropdown-header">
              You have 3 new messages
              <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="message-item">
              <a href="#">
                <img src="{% static 'brokeapp2/img/messages-1.jpg'%}" alt="" class="rounded-circle">
                <div>
                  <h4>Maria Hudson</h4>
                  <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                  <p>4 hrs. ago</p>
                </div>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="message-item">
              <a href="#">
                <img src="{% static 'brokeapp2/img/messages-2.jpg'%}" alt="" class="rounded-circle">
                <div>
                  <h4>Anna Nelson</h4>
                  <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                  <p>6 hrs. ago</p>
                </div>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="message-item">
              <a href="#">
                <img src="assets/img/messages-3.jpg" alt="" class="rounded-circle">
                <div>
                  <h4>David Muldon</h4>
                  <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                  <p>8 hrs. ago</p>
                </div>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="dropdown-footer">
              <a href="#">Show all messages</a>
            </li>

          </ul><!-- End Messages Dropdown Items -->

        </li><!-- End Messages Nav -->

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="{% static 'brokeapp2/img/profile-img.jpg'%}" alt="Asignar" class="rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2">K. Anderson</span>
          </a><!-- End Asignar Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>Kevin Anderson</h6>
              <span>Web Designer</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                <i class="bi bi-person"></i>
                <span>My Asignar</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                <i class="bi bi-gear"></i>
                <span>Account Settings</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
                <i class="bi bi-question-circle"></i>
                <span>Need Help?</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            
            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url 'logout' %}">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul><!-- End Asignar Dropdown Items -->
        </li><!-- End Asignar Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->
  <!-- ======= MENUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUU ======= -->
  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'AccesoUs' %}">
          <i class="bi bi-envelope"></i>
          <span>Principal</span>
        </a>
      </li><!-- End Contact Page Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'PagoUsuario' %}">
          <i class="bi bi-card-list"></i>
          <span>Pago</span>
        </a>
      </li><!-- End Register Page Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'tareas_empleado' %}">
          <i class="bi bi-envelope"></i>
          <span>Ubicacion</span>
        </a>
      </li><!-- End Contact Page Nav -->
    </ul>
  </aside>
  <!-- End Sidebar-->
  <link href="{% static 'brokeapp2/css/style.css' %}" rel="stylesheet">

  <main id="main" class="main">
    <div class="container">
      <!-- Fila centralizada con la tarjeta -->
      <div class="row justify-content-center">
          <div class="col-xl-12 col-lg-10">
              <!-- Tarjeta con sombra, bordes redondeados y color de borde personalizado -->
              <div class="card shadow-lg" style="border: 5px solid #28a745; border-radius: 15px;">
                  <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                      <!-- Logo -->
                      <img src="{% static 'brokeapp2/img/logo1.png' %}" alt="Logo" class="logoB img-fluid mb-3">
                      <p class="custom-title display-2 font-weight-bold text-center" style="color: #28a745;">TAREAS POR CONFIRMAR</p>
                      <div class="table-responsive mt-4">
                          <table class="table table-bordered mt-4">
                              <thead>
                                  <tr>
                                      <th>id</th>
                                      <th>Fecha de Actividad</th>
                                      <th>Dirección</th>
                                      <th>Actividad</th>
                                      <th>Num. Cajero</th>
                                      <th>Coordenadas</th>
                                      <th>Confirmar Actividad</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  {% for tarea in tareas %}
                                  <tr>
                                      <td>{{ tarea.id }}</td>
                                      <td>
                                          {% if tarea.actividad == "Anclaje" %}
                                              {{ tarea.fecha_anclaje }}
                                          {% elif tarea.actividad == "Configuración" %}
                                              {{ tarea.fecha_vencimiento }}
                                          {% else %}
                                              No disponible
                                          {% endif %}
                                      </td>                                  
                                      <td>{{ tarea.direccion }}</td>
                                      <td>{{ tarea.actividad }}</td>
                                      <td>{{ tarea.num_cajero }}</td>
                                      <td>{{ tarea.cordenadas }}</td>
                                      <td>
                                          {% if tarea.confirmacion == 'sin_confirmar' %}
                                              <form action="{% url 'confirmar_actividad' tarea.id %}" method="post">
                                                  {% csrf_token %}
                                                  <button type="submit" name="accion" value="aceptar" class="btn btn-success">Aceptar</button>
                                              </form>
                                              <form action="{% url 'confirmar_actividad' tarea.id %}" method="post">
                                                  {% csrf_token %}
                                                  <button type="submit" name="accion" value="rechazar" class="btn btn-danger">Rechazar</button>
                                              </form>
                                          {% elif tarea.confirmacion == 'confirmado' %}
                                              <span class="text-success">Confirmado</span>
                                          {% elif tarea.confirmacion == 'rechazado' %}
                                              <span class="text-danger">Rechazado</span>
                                          {% endif %}
                                      </td>
                                  </tr>
                                  {% empty %}
                                  <tr>
                                      <td colspan="7">No hay tareas disponibles.</td>
                                  </tr>
                                  {% endfor %}
                              </tbody>
                          </table>
                      </div>
                      <div class="row justify-content-center mt-4">
                          <div class="col-xl-11 col-lg-8">
                              <div class="mb-3">
                                <h1 class="text-center" style="color: #28a745;">VERIFICA UBICACIÓN</h1>
                                  <input type="text" id="direccionInput" class="form-control input-largo" placeholder="Ingrese una dirección" />
                              </div>
                              <div class="text-center">
                                  <button id="buscarBtn" class="btn btn-primary">Buscar</button>
                              </div>
                          </div>
                      </div>
                      <!-- Contenedor del mapa -->
                      <div id="map" style="height: 400px; width: 100%; margin-top: 20px;"></div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  

    <!-- Estilos y scripts de Leaflet -->
   
</main>

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'brokeapp2/vendor/apexcharts/apexcharts.min.js'%}"></script>
  <script src="{% static 'brokeapp2/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
  <script src="{% static 'brokeapp2/vendor/chart.js/chart.umd.js'%}"></script>
  <script src="{% static 'brokeapp2/vendor/echarts/echarts.min.js'%}"></script>
  <script src="{% static 'brokeapp2/vendor/quill/quill.js'%}"></script>
  <script src="{% static 'brokeapp2/vendor/simple-datatables/simple-datatables.js'%}"></script>
  <script src="{% static 'brokeapp2/vendor/tinymce/tinymce.min.js'%}"></script>
  <script src="{% static 'brokeapp2/vendor/php-email-form/validate.js'%}"></script>

  <!-- Template Main JS File -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
  <script src="{% static 'brokeapp2/js/main.js'%}"></script>

</body>
</html>
